body
{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ecf0f3;
   background-image: url(bg1.jpg);


}

.container
{
	width: 45%;
	height: 55vh;
	padding: 10px;
	border-radius: 8px;
    background-color: #f491e0;
	box-shadow: 12px 12px 20px #cbced1,
	             -12px -12px 20px #ffffff;
}

.display #screen
{
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

.btns
{
   width: 100%;
   margin-top: 1.7em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.btns .row button
{
    width: 75px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000013,
                            -5px -5px 8px #ffffff;

}

.btns .row button:hover
{
    box-shadow: inset 5px 5px 5px 8px rgba(16,16, 16,.1),
    inset -5px -5px 8px #fff;
    background: #fff; 
}

#btnNum
{
    background: black;
    color: #fff;
    background-color: 
    box-shadow: inset 5px 5px 8px #8dc2e3,
        inset -5px -5px 8px #a6d0e8;
}                                                         	             

#btnNum:hover
{
    box-shadow: inset 5px 5px 8px #696b6c,
    inset -5px -5px 8px #ffffff;
}

#eval {
     background: #33ccff;
     color: #fff;
     box-shadow: inset 5px 5px 8px #66d9ff,
         inset -5px -5px 8px #00ace6;
}

#eval :hover{
     box-shadow: inset 5px 5px 8px #00ace6,
                 inset -5px -5px 8px #00ace6;
}

#ac {
    background: #33cca8;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #0ab78e,
        inset -5px -5px 8px #33cca8;
}       

#ce {
    background: #f11a42;
    color: #fff;
} 

#ce:hover {
    box-shadow: inset 5px 5px 8px #9b000a,
        inset -5px -5px 8px #ff3333;
}                                    
